@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;
}

body{
    display: flex;
}

.sidebar{
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    
    height: 100vh;
    padding: 0 20px;
    color: #fff;
    overflow: hidden;
    transition: all 0.5s linear;
    background: rgba(113, 99, 186, 255);
}
.sidebar:hover{
    width: 240px;
    transition: 0.5s;
}
.logo{
    height: 80px;
    padding: 16px;
}

.menu{
    height: 88%;
    position: relative;
    list-style: none;
    padding: 0;
}

.menu li{
    padding: 15px;
    margin: 8px;
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
}

.menu li:hover,.active{
    background: #e0e0e058;
}

.menu a{
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 11px;
}

.menu a span{
    overflow: hidden;
}

.menu a i{
    font-size: 25px;
}

.logout{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.main--content{
    position: relative;
    background: #ebe9e9;
    width: 100%;
    padding: 10px;
}

.header--wrapper .fa-user{
    cursor: pointer;
    font-size: 20px;
    padding: 10px;
    border-radius: 50%;
    background-color: red;
}

.header--wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: #fff;
    border-radius: 10px;
    padding: 10px 20px;
    margin-bottom: 10px;
}

.header--tittle{
    color: rgba(113, 99, 186, 255);
}
.user--info{
    display: flex;
    align-items: center;
    gap: 5px;
}

.search-box{
    background: rgb(237, 237, 237);
    border-radius: 15px;
    color: rgba(113, 99, 186, 255);
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 4px 12px;
}

.search-box input{
    background: transparent;
    padding: 10px;
}
.search-box i{
    font-size: 20px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.search-box i:hover{
    transform: scale(1.2);
}

.card-container{
    background: #fff;
    padding: 20px;
    border-radius: 10px;
}

.card-wraper{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

}

.main-title{
    color: rgba(113, 99, 186, 255);
    padding-bottom: 10px;
    font-size: 15px;
}

.payment-card{
    background: rgb(229, 223, 233);
    border-radius: 10px;
    padding: 10px;
    width: 290px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.5s ease-in-out;
}

.payment-card:hover{
    transform: translateY(-5px);
}

.card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.amount{
    display: flex;
    flex-direction: column;
}

.title{
    font-size: 12px;
    font-weight: 200;
}

.amount-value{
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}

.icon{
    color: #fff;
    padding: 20px;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50%;
    font-size: 20px;
    background: red;
}

.card-detail{
    font-size: 18px;
    color: #777777;
    letter-spacing: 2px;
    font-family: 'Courier New', Courier, monospace;
}

.light-red{
    background: rgb(251, 233, 233);
}

.light-purple{
    background: rgb(254, 226, 254);
}

.light-green{
    background: rgb(235, 254, 235);
}

.light-blue{
    background: rgb(236, 236, 254);
}

.dark-red{
    background: red;
}
.dark-purple{
    background: purple;
}
.dark-green{
    background: green;
}
.dark-blue{
    background: blue;
}

.tabular-wraper{
    background: #fff;
    margin-top: 10px;
    border-radius: 10px;
    padding: 20px;

}

.table-container{
    width: 100%;
}

table{
    width: 100%;
    border-collapse: collapse;
}

thead{
    background: rgba(113, 99, 186, 255);
    color: #fff;
}

th{
    padding: 15px;
    text-align: left;
}

tbody{
    background: #f2f2f2;
}

td{
    padding: 15px;
    font-size: 14px;
    color: #333;
}

tr:nth-child(even){
    background: #fff;
}

tfoot{
    background: rgba(113, 99, 186, 255);
    font-weight: bold;
    color: #fff;
}

tfoot td{
    padding: 15px;
    color: #fff;
}

.table-container button{
    color: green;
    background: none;
    cursor: pointer;
}